@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root, :root[data-theme="dark"] {
    --pri-color: #1C1B19;
    --sec-color: #D9AE61;
    --ter-color: #000;
    --quar-color: #fff;

}

:root[data-theme="light"] {
    --pri-color: #F1F0EE;
    --sec-color: #573D1C;
    --ter-color: #fff;
    --quar-color: #000;

}

html[data-theme="light"]  {
    background-color: var(--pri-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    
    width: 100vw;
    
    background-color: var(--pri-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main {
   
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  
    
}

a{
    text-decoration: none;
}

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--quar-color);
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: var(--quar-color);
    text-align: center;
    margin-top: 4px;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    
}


hr{
    
    width: 90%;
    border-color: #fff;
    margin: auto;
    margin-top: 24px;
    opacity: 32%;
}

p {
    color: var(--quar-color);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 200;
}

header {
    width: 100vw;
    max-width: 1320px;
    padding: 24px 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

html[data-theme="light"] .icon-invert {
    filter: invert(1);
}

.info__top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 28px;
    margin: 12px 0px;
}

.nav {
    width: 223px;
    height: 50px;
    border-radius: 500px;
    bottom: 40px;
    position: fixed;
    background-color: var(--sec-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 46px;
    z-index: 2;
}


.nav__button{
    width: 24px;
    height: 24px;
    border:none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    background-color: transparent;
    cursor: pointer;
    transform: translate(0px, 0%);
    padding: 13px;
    box-sizing: content-box;
    
   
}



.foot__p {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    margin-top: 12px;
    opacity: 32%;
}

footer > p > a{
    color: #fff;
}

footer::after {
    content: "";
    width: 100%;
    height: 16px;
    display: block;
    margin-top: 10px;
}


::-webkit-scrollbar {
    display: none;
}