@import url('global.css');



.cadastro {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    background-image: url('img/img-shop.svg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 200%;
}

.init {
    position: absolute;
    top: 45%;
}

.cadastro__button {
    font-family: "Montserrat", sans-serif;
    color: var(--sec-color);
    transform: translate(0px, 1210%);
    width: 223px;
    height: 50px;
    border-radius: 500px;
    border: 2px solid var(--sec-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-weight: 600;
}


/* - - - - - - - - Home - - - - - - - - - -*/

.header-home{
    width: 100vw;
    max-width: 1320px;
    padding: 24px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  
}

.car {
    cursor: pointer;
}

.equipe {
    position: relative;
    transform: translate(0%, -6%);

}

.equipe__dark{

    width: 100%;
}

div.nota{
    position: absolute;
    transform: translate(-24%, 750%);
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    z-index: 2;
}

p.p-nota{
    font-size: 12px;
    
}

.filtros {
    width: 100vw;
    padding: 0px 16px;
    margin: 0px 0px 22px 0px;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    overflow-x: scroll;
    transform: translate(0% , -70%);
   
}

.filter-active {
    
    background-color: #D9AE61   ;
    border-radius: 10px;
    
    padding: 8px 12px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
}

.filter {
    background-color: #66635C40;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
}


.catalogo {
    
    width: 100vw;
    padding: 0px 16px 50px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 16px;
    transform: translate(0% , -2%);
}

.card{
    height: 203px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #39373350;
    border-radius: 10px;
    
}

.card > .descriçao > p {
    margin-top: 16px;
}

.descriçao {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 6px;
    width: 100%;
    height: 30%;
}

.preço {
    margin-top: 3px;
}





/* - - - - - - - - Produto - - - - - - - - - -*/


.header-prduct{
    position: absolute;
    top: 0px;
}

.back-button, .car-product{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background-color: #D9AE61;
    z-index: 2;
}

div.img-product{
    width: 100%;
    height: 463px;
    top: 0px;
    background-color: #fff;
    background-image: url('../src/img/coffee-milk.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
   width: 100%;
   margin-top: 20px;
   padding: 0px 16px;
   display: flex;
   flex-flow: column nowrap;
   gap: 6px;
}

.description > p{
    width: 70%;
    font-size: 12px;
}

.name-product{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.name-product > h2{
    font-size: 24px;
    font-weight: 600;
}

div.pay{
  
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    text-transform: uppercase;
    padding: 0px 16px;
}

div.button-pay{
   
    border-radius: 500px;
    padding: 12px 24px;
    padding: 12px 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}


.button-mult{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 2px solid #fff;
    
}


.button-in-car{
    
    border: 2px solid var(--sec-color);
    color: var(--sec-color);
}

.button-pay-now{
    background-color: var(--sec-color);
    color: #fff;
}



.info-extra{
     border-radius: 10px;
    width: calc(100% - 32px);
    height: 85px;
    background-color: #3B3937;
    padding: 8px;
}

.mapa{
   
    background-image: url('img/mapa.svg');
    background-position: center;
    margin-top: 34px;
}


.sobre{
    margin: 16px 0px 34px 0px;
    
}


.sobre-produto{
    font-weight: 500;
    font-style: italic;
    margin-bottom: 4px;

}

.description-sobre {
    font-size: 12px;
}

.plus-product{
  
    width: 100%;
    text-align: start;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 32px 0px;
}






/* - - - - - - - - @Medias - - - - - - - - - -*/



@media screen and (min-width: 800px) {

    .cadastro {
        background-image: url('img/img-shop.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }


    .single-body {
        overflow: hidden;
    }

    /* - - - - - - - - Home - - - - - - - - - -*/


    .equipe__dark {
        width: 100vw;
        position: absolute;
        transform: translate(0%, 15%);

        opacity: 0.2;
    }

    section {
        position: relative;
        margin-top: 6vh;
    }

    .info__top {
        margin: 24px 0px;
    }

    .info__top__estaque {
        font-size: 1.8rem;
    }

    .setas__divisoras {
        width: 124px;
    }

    .carrousel__produtos {
        width: 67vw;
        max-width: 904px;
        height: 40vh;
        border-radius: 22px;

    }


    .catalogo {

        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        padding-top: 32px;

    }





    /* - - - - - - - - Produto - - - - - - - - - -*/

    .main__produto {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .produto {
        width: 222px;
        height: 285px;
    }

    .produto__exibiçao {
        width: 100%;
        height: 222px;
        border-radius: 10px;
        overflow: hidden;

    }

    .produto__compra {
        width: 400px;
        height: 400px;
        border-radius: 12px;
        transform: translate(-55%, 0%);

    }

    .info__geral {
        width: 100%;
        max-width: 420px;
        height: 80vh;

        transform: translate(50%, 0%);

        display: flex;
        flex-flow: column nowrap;

    }

    .name {
        font-size: 32px;
    }

    .valor {
        font-size: 32px;
        margin-top: 12px;
    }

    .description {
        width: 420px;
        transform: translate(0%, -200%);
    }


    .pay {
        transform: translate(0%, 100%);
    }

    .carrinho {
        width: 200px;
        height: 60px;
        border-radius: 12px;
        background-color: var(--sec-color);
        padding: 18px 42px;
    }

    .p__compra {
        font-size: 20px;
    }

    .buy {
        width: 200px;
        height: 60px;
        border-radius: 12px;
        padding: 17px 44px;
    }

    .p__compra-white {
        font-size: 20px;

    }

    .tres__info {
        transform: translate(0%, 350%);
        gap: 60px;

    }

    .tres__info__button {
        scale: 1.4;
    }

    .hr__produto {
        transform: translate(0%, 10200%);

    }

    .caracteristicas {
        transform: translate(0%, 80%);

    }



}