@import url('global.css');



.cadastro {
    width: 100vw;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    background-image: url('img/img-shop.svg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 200%;
}

.title {
    position: absolute;
    top: 45%;
}

.cadastro__button {
    font-family: "Montserrat", sans-serif;
    color: var(--sec-color);
    transform: translate(0px, 1210%);
    width: 223px;
    height: 50px;
    border-radius: 500px;
    border: 2px solid var(--sec-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-weight: 600;
}


/* - - - - - - - - Home - - - - - - - - - -*/

.logo {
    width: 148px;
    height: 30px;
    border: none;
    border-radius: 0px;
    padding: 0px;
    font-size: 0px;
    cursor: pointer;
    position: relative;
    transform: translate(0px, 0%);

}

.car {
    cursor: pointer;
}

.equipe {
    position: relative;
    transform: translate(0%, -6%);

}

.equipe__dark{

    width: 100%;
}

div.nota{
    position: absolute;
    transform: translate(-24%, 750%);
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    z-index: 2;
}

p.p-nota{
    font-size: 12px;
    
}

.filtros {
    width: 100vw;
    padding: 0px 16px;
    margin: 0px 0px 22px 0px;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    overflow-x: scroll;
   
}

.filter-active {
    
    background-color: #66635C;
    border-radius: 10px;
    
    padding: 8px 12px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
}

.filter {
    background-color: #66635C40;
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
}







/* - - - - - - - - Cardápio - - - - - - - - - -*/


.catalogo {

    width: 100vw;
    padding: 0px 16px 50px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
}

.card{
    height: 203px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #39373350;
    border-radius: 10px;
    
}

.card > .descriçao > p {
    margin-top: 16px;
}

.descriçao {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 6px;
    width: 100%;
    height: 30%;
}

.preço {
    margin-top: 3px;
}




/* - - - - - - - - Produto - - - - - - - - - -*/



.info__produto {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    padding: 0px;
    font-size: 0px;
    cursor: pointer;
    position: relative;
    transform: translate(0px, 0%);

}

div.comprar{
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

.produto__compra {
    width: 343px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;

}

.produto__compra__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    width: 335px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 12px 0px;
}

.name,
.valor {
    font-size: 24px;
}

.more__info {
    font-weight: 600;
    position: absolute;
    font-style: italic;
    opacity: 90%;

}

.pay {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    margin-top: 16px;
    text-transform: uppercase;
}

.carrinho {
    width: 164px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--sec-color);
    padding: 16px 36px;

}

.buy {
    width: 164px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--sec-color);
    padding: 14px 36px;
}

.p__compra {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.p__compra-white {
    font-size: 16px;
    font-weight: 500;
    color: var(--sec-color);

}

.tres__info {
    width: 190px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    gap: 46px;
    margin-top: 12px;

}


.caracteristicas {
    width: 100%;
    max-width: 600px;

    padding: 0px 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin-top: 16px;

    color: var(--ter-color);


}

.text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 32px;
    margin-top: 24px;
    opacity: 50%;
}

.caracteristicas::after {
    content: '';
    display: block;
    width: 100%;
    height: 32px;

}

/* - - - - - - - - @Medias - - - - - - - - - -*/



@media screen and (min-width: 800px) {

    .cadastro {
        background-image: url('img/img-shop.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }


    .single-body {
        overflow: hidden;
    }

    /* - - - - - - - - Home - - - - - - - - - -*/


    .equipe__dark {
        width: 100vw;
        position: absolute;
        transform: translate(0%, 15%);

        opacity: 0.2;
    }

    section {
        position: relative;
        margin-top: 6vh;
    }

    .info__top {
        margin: 24px 0px;
    }

    .info__top__estaque {
        font-size: 1.8rem;
    }

    .setas__divisoras {
        width: 124px;
    }

    .carrousel__produtos {
        width: 67vw;
        max-width: 904px;
        height: 40vh;
        border-radius: 22px;

    }



    .catalogo {

        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        padding-top: 32px;

    }





    /* - - - - - - - - Produto - - - - - - - - - -*/

    .main__produto {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .produto {
        width: 222px;
        height: 285px;
    }

    .produto__exibiçao {
        width: 100%;
        height: 222px;
        border-radius: 10px;
        overflow: hidden;

    }

    .produto__compra {
        width: 400px;
        height: 400px;
        border-radius: 12px;
        transform: translate(-55%, 0%);

    }

    .info__geral {
        width: 100%;
        max-width: 420px;
        height: 80vh;

        transform: translate(50%, 0%);

        display: flex;
        flex-flow: column nowrap;

    }

    .name {
        font-size: 32px;
    }

    .valor {
        font-size: 32px;
        margin-top: 12px;
    }

    .description {
        width: 420px;
        transform: translate(0%, -200%);
    }


    .pay {
        transform: translate(0%, 100%);
    }

    .carrinho {
        width: 200px;
        height: 60px;
        border-radius: 12px;
        background-color: var(--sec-color);
        padding: 18px 42px;
    }

    .p__compra {
        font-size: 20px;
    }

    .buy {
        width: 200px;
        height: 60px;
        border-radius: 12px;
        padding: 17px 44px;
    }

    .p__compra-white {
        font-size: 20px;

    }

    .tres__info {
        transform: translate(0%, 350%);
        gap: 60px;

    }

    .tres__info__button {
        scale: 1.4;
    }

    .hr__produto {
        transform: translate(0%, 10200%);

    }

    .caracteristicas {
        transform: translate(0%, 80%);

    }



}